<h2>会員情報修正</h2>
<div class="w-100">
</div>
<table class="table">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <tr>
      <td>プロフィール写真</td>
      <td><%= f.attachment_field :image %></td>
      <td></td>
    </tr>
    <tr>
      <td>姓 / 名</td>
      <td><%= f.text_field :family_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td>セイ / メイ</td>
      <td><%= f.text_field :family_name_kana %></td>
      <td><%= f.text_field :last_name_kana %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :phone_number %></td>
      <td></td>
    </tr>
    <tr>
      <td>Eメール</td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      <td></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td> <%= f.text_field :postcode ,id: "user_postcode"%></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address ,id:"user_address"%></td>
      <td></td>
    </tr>
    <tr>
      <td>パスワード</td>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      <td><% if @minimum_password_length %><em>(<%= @minimum_password_length %>文字以上で入力してください)</em><% end %></td>
    </tr>
    <tr>
      <td>パスワード（確認用）</td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      <td></td>
    </tr>
    <tr>
      <td>旧パスワード</td>
      <td> <%= f.password_field :current_password, autocomplete: "current-password" %></td>
      <td>(パスワードを変更するには現在のパスワードを入力してください)</td>
    </tr>
</table>
<div class="log-botton">
  <%= f.submit "更新する" ,class:"btn btn-success btn-lg" %>
  <%= link_to  "退会する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger btn-lg"%>
</div>
<% end %>