<h2>お気に入りした商品</h2>

<table class="table">
		<tr>
			<td>商品</td>
			<td>期間</td>
			<td>値段</td>
		</tr>
		<% @favorites.each do |favorite| %>
		<tr>
			<td><%= link_to item_path(favorite.item) do %>
				<%= attachment_image_tag favorite.item.photos.first , :image ,:fill ,600 ,200 %>
				<% end %><br>
				<%= favorite.item.name %>
				</td>
			<td><%= favorite.item.start_day %>〜<%= favorite.item.finish_day %></td>
			<td><%= favorite.item.price %></td>

		</tr>
		<% end %>
</table>
