<h2><%= @user.family_name%>さん</h2>
<div class="w-100">
</div>


<div class="col-3">
	<%= attachment_image_tag @user , :image , :fill , 200 ,200 %>
	<% if admin_signed_in? %>
	  <%= link_to "退会させる"%>
	<% else %>
	  <%= link_to "プロフィールを編集する", edit_user_registration_path ,class:"btn btn-success" %>
	<% end %>
</div>

<div class="col-9">
	<div class="text-right">
	  <% if user_signed_in? %>
	    <%= link_to "新しいサービスを作る", new_item_path, class:"btn btn-info pull-right" %>
	  <% end %>
    </div>
	<table class="table">
	  <tr>
	  	<td>name</td>
	  	<td><%= @user.family_name %>さん</td>
	  </tr>
	  <tr>
	    <td>フォロー</td>
	    <td><%= link_to "フォロー数"%></td>
	  </tr>
	  <tr>
	    <td>レビュー</td>
	    <td><%= link_to "レビュー数" ,reviews_path %></td>
	  </tr>
	</table>
</div>

<div class="w-100">
</div>

<div class="col-6">
	<h2>あなたのサービス</h2><br>
	<% @items.each do |item| %>
	<div class="item-container">
		<div class="row">
		<div class="col-3">
			<p><%= link_to "my_item_iamge" , item_path(item) %></p>
		</div>
		<div class="col-9">
			<p><%= item.name %></p>
			<p><%= item.text %></p>
			<p><%= item.start_day %> 〜 <%= item.finish_day %></p>
		</div>
	</div>
	</div>
	<% end %>
</div>

<div class="col-6">
	<h2>あなたが利用したサービス</h2><br>
	<div>
		<div>
			<p>bought_item_iamge</p>
		</div>
		<div>
			<p>bought_item script</p>
		</div>
	</div>
	<div>
		<div>
			<p>bought_item_iamge</p>
		</div>
		<div>
			<p>bought_item script</p>
		</div>
	</div>
</div>