<div class="w-100"></div>

<div class="row">
	<div class="col-3">
		<table class="table">
		  <tr>
			<td><%= attachment_image_tag @user , :image , :fill , 300 ,300 %></td>
		  </tr>
		  <tr>
			<td><%= @user.family_name %><%= @user.last_name %>さん</td>
			<% if current_user == @user %>
			<td><%= link_to edit_user_registration_path(@user) ,class:"btn btn-dark" do %>
			<i class="fas fa-cog"></i>
			</td><% end %>
			<% else %>
			<td></td>
			<% end %>
		  </tr>
	  <tr>
	    <td>フォロー<br>
	        フォロワー
	    </td>
	    <td><%= link_to (@user.follower.count), user_follows_path(@user)  %><br>
	        <%= link_to (@user.followed.count), user_followers_path(@user) %>
	    </td>
	  </tr>
	  <tr>
	    <td>レビューした数<%= link_to (@user.reviews.count) , user_reviews_path(@user)  %><br>
	    	レビューされた数</td>
	  </tr>
	  <tr>
	  	<td>あなたの売上金:1000円</td>
	  </tr>
	  <tr>
	  	<td><%= link_to "プランをつくる", new_item_path %></td>
	  </tr>
	  <tr>
	  	<td><%= link_to user_items_path(@user) do %>
	  		あなたのプラン
	  		<% end %>(<%= @user.items.count%>件)
	  	</td>
	  </tr>
	  <tr>
	  	<td><%= link_to "気になっているプラン" ,user_favorites_path(@user) %>(<%= @user.favorites.count %>件)</td>
	  </tr>
	  <tr>
	  	<td><%= link_to "購入されたプラン" ,user_sold_items_path(@user) %></td>
	  </tr>
	  <tr>
	  	<td><%= link_to "購入したプラン" ,user_orders_path(@user) %>(<%= @user.orders.count %>件)</td>
	  </tr>
	</table>
	</div>
	<div class="col-9">
		<h2><%= @user.family_name %>さんのプラン</h2>
	    <%= render "items/index", items:@items ,user:@user %>
	    <%= paginate @items %>
	</div>
</div>

