
<% if admin_signed_in? %>
  <table class="table">
	<tr>
	  <td>出品者</td>
	  <td>商品</td>
	  <td>金額</td>
	  <td>購入者</td>
	  <td>購入日</td>
	</tr>
	<% orders.each do |order| %>
	<tr>
	  <td><%= link_to user_path(order.item.user) do %>
	      <%= attachment_image_tag order.item.user , :image ,:fill ,100 ,100 %>
	      <% end %><br>
	      <%= order.item.user.family_name %>さん</td>
	  <td><%= order.item.name %></td>
	  <td><%= order.item.price %></td>
	  <td><%= link_to user_path(order.user) do %>
	      <%= attachment_image_tag order.user , :image ,:fill ,100 ,100 %>
	      <% end %>
	  </td>
	  <td><%= order.created_at.strftime ("%Y/%m/%d") %></td>
	</tr>
	<% end %>
  </table>
<% else %>
	<table class="table">
		<tr>
			<td>購入日</td>
			<td><% if current_page?("/users/#{user.id}/sold_items") %>
				   購入されたプラン
				 <% else %>
				   購入したプラン
			    <% end %>
			</td>
			<td>利用日</td>
			<td>金額</td>
			<td>出品者</td>
			<td>レビュー</td>
		</tr>
	<% orders.each do |order| %>
		<tr>
			<td><%= order.created_at.strftime ("%Y/%m/%d") %></td>
			<td><%= link_to item_path(order.item) do %>
				<%= attachment_image_tag order.item.photos.first ,:image ,:fill ,200 ,100 %>
				<% end %><br>
				<%= order.item.name %>
			</td>
			<td><%= order.first_day %>〜<%= order.last_day %></td>
			<td><%= order.item.price %></td>
			<td><%= link_to (order.item.user.family_name) ,user_path(order.item.user) %></td>
			<td><% if order.item.reviews.present? %>
				<%= Review.where(item: order.item).count %>
				<% else %>
				<%= link_to "評価する" ,new_item_review_path(order.item) %>
				<% end %>
			</td>
		</tr>
	<% end %>
	</table>
<% end %>
