
<%= form_for item do |f| %>
<div class="row">
	<div class="col-7">
		<%= f.attachment_field :photos_images ,multiple: true%>
	</div><br>

	<div class="col-5">
		<table class="table">
				<tr>
					<td>name</td>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<td>genre</td>
					<td><%= f.collection_select :genre_id  ,genres , :id, :name , class:"btn btn-default" %></td>
				</tr>
				<tr>
					<td>text</td>
					<td><%= f.text_area :text %></td>
				</tr>
				<tr>
					<td>price</td>
					<td><%= f.text_field :price %></td>
				</tr>
				<tr>
					<td>video</td>
					<td><%= f.text_field :video %></td>
				</tr>
				<tr>
					<td>address</td>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<td>start_day</td>
					<td><%= f.date_field :start_day %></td>
				</tr>
				<tr>
					<td>finish_day</td>
					<td><%= f.date_field :finish_day %></td>
				</tr>
				<tr>
					<td>total</td>
					<td><%= f.text_field :total %></td>
				</tr>
		</table>
		<div>
			<%= f.hidden_field :item_status %>
			<%= f.submit "登録" , class:"btn btn-success" %>
		</div>
		<% end %>
	</div>
</div>
