<div class="validates">
	<%= flash[:item_unsave]%>
</div>

<div class="text-center">
  <%= form_for item do |f| %>

  　<!-- 　エラーメッセージ -->
    <%= render 'layouts/error_messages' , model: f.object %>

	    <h2>画像 <span class="item-attention">必須</span></h2>
		    <% @item.photos.each do |image| %>
	      　<div><%= attachment_image_tag image ,:image ,:fill, 500, 300 %></div>
	      <% end %><br>

	  <!-- 画像投稿 -->
				<div class="form">
					<%= f.attachment_field :photos_images, multiple: true, direct: true, presigned: true %>
					<%= f.attachment_field :photos_images, multiple: true, direct: true, presigned: true %>
					<%= f.attachment_field :photos_images, multiple: true, direct: true, presigned: true %>
					<%= f.attachment_field :photos_images, multiple: true, direct: true, presigned: true %>
					<%= f.attachment_field :photos_images, multiple: true, direct: true, presigned: true %>
					<%= f.attachment_field :photos_images, multiple: true, direct: true, presigned: true %>
				</div>

		<div class="form">
			<h2>プラン名 <span class="item-attention">必須</span></h2>
			<div class="item-field">
				<%= f.text_field :name %>
			</div>
		</div>

		<div class="form">
			<h2>ジャンル <span class="item-attention">必須</span></h2>
			<%= f.collection_select :genre_id  ,genres , :id, :name , class:"btn btn-default" %>
		</div>

		<div class="form">
			<h2>プラン説明 <span class="item-attention">必須</span></h2>
			<%= f.text_area :text ,class:"text-area"%>
		</div>

		<div class="form">
			<h2>Youtube URL</h2>
			<%= f.text_field :video %>
		</div>

		<div class="form">
			<h2>場所 <span class="item-attention">必須</span></h2>
			<%= f.text_field :address %>
		</div>

		<div class="form">
			<h2>開始日 <span class="item-attention">必須</span></h2>
			<%= f.date_field :start_day %>
		</div>

		<div class="form">
			<h2>終了日 <span class="item-attention">必須</span></h2>
			<%= f.date_field :finish_day %>
		</div>

		<div class="form">
			<h2>人数制限 <span class="item-attention">必須</span></h2>
			<%= f.text_field :total %>
		</div>

		<div class="form">
			<h2>値段 <span class="item-attention">必須</span></h2>
			<%= f.text_field :price %>
		</div>

		<div class="form">
			<%= f.hidden_field :item_status %>
			<%= f.submit "登録" , class:"btn btn-success" %>
		</div>

	<% end %>
</div>
