
<div class="w-100">
</div><br>


<% items.each do |item| %>
<div class="w-100 item-container">
	<div class="row">
		<div class="col-4">
			<div>
				¥<%= item.price %>
			</div>
		</div>
		<div class="col-6">
		名前: <%= item.name %>
		期間: <%= item.start_day %> 〜 <%= item.finish_day %>
		<div>
			説明<%= item.text %>
		</div>
        </div>
        <div class="col-2">
        	<% if user_signed_in? %>
        	  <%= link_to "詳細画面へ", item_path(item) , class:"btn btn-primary"%>
        	  <%= link_to "購入画面へ" , item_new_order_path(item) , class:"btn btn-success" %>
        	<% else %>
        	  <%= link_to "詳細画面へ", item_path(item)%>
        	<% end %>
        </div>
    </div>
</div>
<% end %>