<table class="table table-borderless" style="width: 100%;">
	<tr>
		<td style="width: 20%;">出品者</td>
		<td style="width: 20%;">レビューした人</td>
		<td style="width: 30%;">コメント</td>
		<td style="width: 30%;">星の数</td>
	</tr>
	<% reviews.each do |review| %>
		<tr>
			<td style="width: 20%;"><%= link_to (review.item.user.family_name), user_path(review.item.user) %>さん</td>
			<td style="width: 20%;"><%= link_to (review.user.family_name), user_path(review.user) %>さん</td>
			<td class="text-style" style="width: 30%;"><%= review.text %></td>
			<td style="width: 30%;"><div id="<%= review.id %>"></div></td>
		</tr>


		<!-- 星評価 -->
		<script>
				$("#<%= review.id %>").raty({
				size: 36,
				starOff: '<%= asset_path("star-off.png") %>',
				starOn: '<%= asset_path("star-on.png") %>',
				readOnly: true,
				score: '<%= review.rate %>'
				});
		</script>
	<% end %>
</table>