<% reviews.each do |review| %>
<div class="container review">
  <div class="row">
    <div class="col-md-6 review-name">
      <%= link_to (review.user.family_name), user_path(review.user) %>さん
    </div>
    <div class="col-md-6">
      <div id="<%= review.id %>"></div>
    </div>
    <div class="review-text">
      <%= simple_format(review.text) %>
    </div>
  </div>

  <!-- 星評価 -->
  <script>
    $("#<%= review.id %>").raty({
      size: 36,
      starOff: '<%= asset_path("star-off.png") %>',
      starOn: '<%= asset_path("star-on.png") %>',
      readOnly: true,
      score: '<%= review.rate %>'
    });
  </script>
  <% end %>