<table class="table">
		<tr>
			<td>ユーザー</td>
			<td>レビュー内容</td>
			<td>星の数</td>
			<td></td>
			<td></td>
		</tr>
		<% reviews.each do |review| %>
		<tr>
			<td><%= review.user.family_name %>さん</td>
			<td><%= review.text %></td>
			<td><div id="<%= review.id %>"></div>
				<script>
					$("#<%= review.id %>").raty({
						size: 36,
						starOff: '<%= asset_path("star-off.png") %>',
                        starOn: '<%= asset_path("star-on.png") %>',
                        readOnly: true,
                        score: '<%= review.rate %>'
					});
				</script>
			</td>
			<td><%= link_to "レビューを詳しく見る", item_review_path(review) ,class:"btn btn-primary" %></td>
		</tr>
		<% end %>
</table>