<h2>レビュー詳細</h2>

<table class="table">
		<tr>
			<td>ユーザー</td>
			<td>レビュー内容</td>
			<td>星の数</td>
			<td>写真</td>
		</tr>
		<tr>
			<td><%= @review.user.family_name %></td>
			<td><%= @review.text %></td>
			<td><div id="<%= @review.id %>"></div>
				<script>
					$("#<%= @review.id %>").raty({
						size: 36,
						starOff: '<%= asset_path("star-off.png") %>',
                        starOn: '<%= asset_path("star-on.png") %>',
                        readOnly: true,
                        score: '<%= @review.rate %>'
					});
				</script>
			</td>
			<td></td>
		</tr>
</table>