<!DOCTYPE html>
<html>
<head>
  <title>PlanneR</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/944651f84d.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <!-- ヘッダー -->
    <header class="sticky-top">
      <h2><%= link_to "- PlanneR -", items_path, :style=>"color: white;"%></h2>
        <div id="sp-menu">
          <h2><%= link_to "- PlanneR -", items_path, :style=>"color: white;"%></h2>
            <ul>
              <% if user_signed_in? %>
                <li><%= link_to user_path(current_user) do %>
                <i class="fas fa-user"> マイページ</i><% end %></li>
                <li><%= link_to destroy_user_session_path, method: :delete do%>
                <i class="fas fa-sign-out-alt"> ログアウト</i><% end %></li>
              <% else %>
                <% if admin_signed_in?  %>
                  <li>
                    <%= link_to admins_items_path do %>
                    <i class="fas fa-ruler-combined"> 商品一覧</i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admins_users_path do %>
                    <i class="fas fa-users"> 顧客一覧</i>
                    <% end %>
                    <% if Order.where(order_status: 3).count == 0 %>
                    <% else %>
                      <span class="maru"></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admins_orders_path do %>
                    <i class="fas fa-align-justify"> 注文一覧</i>
                    <% end %>
                    <% if Order.where(order_status: 0).count == 0 %>
                    <% else %>
                      <span class="maru"></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admins_genres_path do %>
                    <i class="fas fa-sort-alpha-down"> ジャンル作成</i>
                    <% end %>
                  </li>
                  <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"> ログアウト</i><% end %></li>
                <% else %>
                  <li><%= link_to user_session_path do %>
                  <i class="fas fa-sign-in-alt"> ログイン</i><% end %></li>
                  <li><%= link_to new_user_registration_path do %>
                  <i class="fas fa-user-plus"> はじめる</i><% end %></li>
                  <li><%= link_to about_path do %>
                  <i class="fas fa-users"> PlanneR</i><% end %></li>
                <% end %>
              <% end %>
                <li><%= link_to inquiry_path do %>
                <i class="fas fa-question-circle"> 問い合わせ</i>
                <% end %></li>

                <!-- 検索フォーム -->
                <li><%= form_tag(search_path, method: :get) do %>
                      <%= text_field_tag "search[content]" %>
                        <% if admin_signed_in? %>
                          <%= select_tag "search[model]", options_for_select({"プラン"=> "item", "会員" => "user", "注文"=>"order"}) %>
                        <% else %>
                          <%= select_tag "search[model]", options_for_select({"プラン"=> "item", "会員" => "user" }) %>
                        <% end %>
                          <%= hidden_field_tag 'search[method]', "部分一致" => "partial" %>
                          <%= submit_tag "さがす", class:"btn btn-light"%>
                    <% end %>
                </li>
            </ul>
        </div>

    <!-- ハンバーガーメニューアイコン -->
    <div id="hm-icon">
      <a class="menu-trigger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    </header>

    <div class="container-fluid">
      <%= yield %>
    </div>

</body>
</html>